*,*::after,*::before{
  margin: 0;
  padding: 0;
}
html{
  background: url(../src/img/backgroud.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 60px auto!important;
}
.form-signin{
  margin: 30px auto;
  min-height: 400px;
  padding: 60px 60px;
  max-width: 600px;
}
button.btn.btn-primary.btn.btn-primary{
  margin-right: 50px
}